.message {
    max-width: 60%;
    padding: 1em;
    border: 1px solid #000;
    margin: 1.2em auto 0;
    text-align: center;
    border-radius: 5px;
}

.sucess {
    color: greenyellow;
    background-color: aliceblue;
    border-color:white ;
}

.error {
    
    color: red;
    background-color: rgb(241, 205, 209);
    border-color:white ;
}